* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.image {
    height: 400px;
    width: 400px;
}

.image-container {
    float: right;
    padding: 0px 20px 0px 50px;
}

.recipe-contents {
    padding: 0px 25px;
}